defaults: &defaults
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: username
  password:

development:
  database: db_development
  host: localhost
  <<: *defaults

test:
  database: db_test
  host: localhost
  <<: *defaults

production:
  database: db_production
  host: localhost
  username: test_name
  password:
  <<: *defaults

