<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <% if @title %>
      <title><%= @title %> | Lint.sh</title>
    <% else %>
      <title>Lint.sh</title>
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="author" href="humans.txt" />

    <!-- CSS -->
    <link href="http://necolas.github.com/normalize.css/2.1.0/normalize.css" rel="stylesheet">
    <link href="/css/style.css?v=02312013" rel="stylesheet">
  </head>
  <body>
    <div id="wrap" class="clearfix">
      <!-- Begin page content -->
      <div id="main" class="container">
        <%= yield %>
      </div>
    </div>

    <script src="/js/application.js"></script>
  </body>
</html>
